.title {
    text-align: center;
    font-weight: bold;
    color: darkblue;
    font-size: 40px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.ul {
    background-color:white ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:100%;
    margin: 300px, 0px, 300px, 0px ;
}
.li {
    column-count: 2;
    list-style-type: none;
    column-gap:0px;
    margin-left:500px;    
}

.item{
    padding-right:40px;
    text-decoration-style:solid;
    color:grey;
}
.button{
    background-color:darkblue;
    color:white;
    font-weight:bold;
    margin:5px
}
