.title{
    padding: 30px 0px 30px 800px;
    font-family:'Comic Sans MS';
    font-size:30px;
    font-weight:bolder;
}
.body{
    font-family:Garamond;
    padding:5px 500px 10px 500px;
}
.card {
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    max-width: 600px;
    margin: 50px auto;

}
